.proyecto {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.proyecto h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.proyecto p {
    font-size: 16px;
    color: #666;
}
